<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 此文件可有可无，因为此配置已在spring封装 -->

<configuration>

    <settings>
        <!-- 二级缓存开启 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

</configuration>